
<h1>Queries</h1>
<p>
  <a href="/query/query1">Query One</a>
  <a href="/query/query2">Query Two</a>
  <a href="/query/query3">Query Three</a>
  <a href="/query/query4">Query Four</a>
  <a href="/query/query5">Query Five</a>
  <a href="/query/query6">Query Six</a>
  <a href="/query/query7">Query Seven</a>
  <a href="/query/query8">Query Eight</a>
  <a href="/query/query9">Query Nine</a>
  <a href="/query/query10">Query Ten</a>
  <a href="/query/query11">Query Eleven</a>
  <a href="/query/query12">Query Twelve</a>
  <a href="/query/query13">Query Thirteen</a>
  <a href="/query/query14">Query Fourteen</a>
  <a href="/query/query15">Query Fifteen</a>
</p>